In [1]:
# General Assembly Introduction to Python
# By Kasun Maldani (https://github.com/kasun-maldeni/intro-to-python)
# A. Install programmes for Python
## 1. Use Anaconda - installed

# B. Intro to Python
## 1. What is Python?
### - Efficient, good for prototyping, code readability, high-level languages 
### - Interpreted language, line by line (interpreted)
###   In contrast, Compiled language, translator, read everything beforehand 
###   (compiled) need to do more work
### - Object oriented - code with objects (manipulate it with predefined ways)
### - High-level programming (Python) vs low-level programming; Like an "auto" car

## 2. Why Python?
### - Open source, rapid prototyping
### - Extensible and easy to install libraries
### - Usage like AstroPy, Biopython, Pygame

## 3. Exploring Python with Anaconda
### - Launch Jupyter
### - Type something in -> Error
### - Hello <- will give you an error
"Hello" # This is valid Python code - no error

In [30]:
## 4. Finding out the type of data
type("Hello") # str = string; "string"
type(1) # int = integers
type(1.2) # float = decimals

float

In [31]:
## 5. Print string without ''
print("Hello") # function = type() * action

Hello

In [32]:
## 6. Syntax - basic math
10 - 2
2 - 1
2 * 5
12 / 4
type(12 / 4) # division always gives back a float
13 / 5
type(13 / 5)
type(12 // 4) # If want to return integer type //
type(13 // 5)
13 // 5 # Truncating - cuts off decimal part
2.9 / 1
2.9 // 1 # Gives float but truncates .9
10 % 1 # Modulus - number left over
11 % 2
13 % 3 # 13 - 12/3 = 1 (left over)

1

In [33]:
## 7. Variable - how computers store information
### - E.g. 15 apples
num_of_apples = 15 # To tell python that apples = 15
num_of_apples
num_of_apples-3

12

In [34]:
## 8. Control structures
### - How we control the flow of logic and how we store information
shopping_item1 = "milk"
shopping_item2 = "strawberries"
shopping_item3 = "cookies"
shopping_item4 = "bananas" 
### - Problem with storing data with variables separately 
### - Need to remember which is which
### - A better structure would be a shopping list 
shopping_list = ["milk", "strawberries", "cookies", "bananas"] # list
shopping_list # type(shopping_list) = list
### - Accessing elements in list
shopping_list[0] # counting starts from 0 in Python
shopping_list[1]
### - Count number of elements - Google language and what you want to do
len(shopping_list)

4

In [35]:
## 8. Control structures [... continued]
### - Add elements to the list
shopping_list
shopping_list.append("eggs")

### - Remove elements from the list
shopping_list.remove("eggs")
shopping_list

['milk', 'strawberries', 'cookies', 'bananas']

In [36]:
shopping_list

['milk', 'strawberries', 'cookies', 'bananas']

In [37]:
## 8. Control structures [... continued]
### - IF ELSE
user_age = 19

In [38]:
user_age > 21 # check if variable > 21
user_age < 21
# type(user_age < 21) # Boolean (True / False)

True

In [39]:
user_age >= 21 # Condition

False

In [40]:
user_age = 25
if user_age >= 21 : # Colon indents the code
    print("Yes, you may proceed") # Indentation is important in Python
else :
    print("Sorry, you are not old enough") # If else statement in Python

Yes, you may proceed

In [41]:
## 8. Control structures [... continued]
### - LOOP 
shopping_list = ["milk", "strawberries", "cookies", "bananas"] # can also use ''
print(shopping_list)
for item in shopping_list : # item = name element in list
    print(item)

['milk', 'strawberries', 'cookies', 'bananas']
milk
strawberries
cookies
bananas

In [42]:
test_scores = [18, 9, 13, 12, 7]
total_score = 0
for score in test_scores : # can use any name for iterations - score, item etc
    total_score = total_score + score
print(total_score)

59

In [43]:
# Contrast it with this
test_scores = [18, 9, 13, 12, 7]
total_score = 0
for score in test_scores : # can use any name for iterations - score, item etc
    total_score = total_score + score
    print(total_score) # with indentation, the print is in each iteration

18
27
40
52
59

In [44]:
# 9. Data structure - dictionary - in curly brackets
students = {"adam": 59,
"jessica": 69,
"tony": 70} # key = "adam", value = 59
students["adam"] # look up "adam"
students["jessica"]
students["tony"]
# add to dictionary
students["scott"] = 7
students

{'adam': 59, 'jessica': 69, 'tony': 70, 'scott': 7}

In [45]:
students = {"adam": [59,100],
"jessica": [69, 110],
"tony": [70, 90]} # key = "adam", value = 59
students["adam"]
students["jessica"]

[69, 110]

In [46]:
# 10. Practise programming
## - library (packages in R): data manipulation - pandas, Numpy, scipy
import pandas as pd
import numpy as np

In [47]:
data = pd.read_csv("https://raw.githubusercontent.com/kasun-maldeni/intro-to-python/master/data.csv")
# https://github.com/kasun-maldeni/intro-to-python

In [48]:
data

      name     location   subjects
0     todd    melbourne    physics
1    jamie      toronto    physics
2  rebecca  Los Angeles      maths
3  michael       Sydney    biology
4  vincent      toronto  chemistry
5  georgia    Melbourne      stats
6    allen      toronto  chemistry
7    sarah     auckland  chemistry

In [49]:
## - Read info into a list
data.values # returns array - set of lists

array([['todd', 'melbourne', 'physics'],
       ['jamie', 'toronto', 'physics'],
       ['rebecca', 'Los Angeles', 'maths'],
       ['michael', 'Sydney', 'biology'],
       ['vincent', 'toronto', 'chemistry'],
       ['georgia', 'Melbourne', 'stats'],
       ['allen', 'toronto', 'chemistry'],
       ['sarah', 'auckland', 'chemistry']], dtype=object)

In [50]:
data.values[0]

array(['todd', 'melbourne', 'physics'], dtype=object)

In [51]:
print(data.values[0,0], "studies", data.values[0,2], "in", data.values[0,1])

todd studies physics in melbourne

In [52]:
todd = data.values[0]
todd[0].capitalize() + " studies " + todd[2].capitalize() + " in " + todd[1].capitalize() #[1] = index
# functions can be specified by function() or .function()

'Todd studies Physics in Melbourne'

In [53]:
for student in data.values :
    string = student[0].capitalize() + " studies " + student[2].capitalize() + " in " + student[1].capitalize() #[1] = index
    print(string) # no need to specify 1:8 (number of students) - defined in loop

Todd studies Physics in Melbourne
Jamie studies Physics in Toronto
Rebecca studies Maths in Los angeles
Michael studies Biology in Sydney
Vincent studies Chemistry in Toronto
Georgia studies Stats in Melbourne
Allen studies Chemistry in Toronto
Sarah studies Chemistry in Auckland

In [54]:
# https://github.com/kasun-maldeni/intro-to-python
# Next few questions
# Print out the names of all the students studying in toronto.
for student in data.values :
    city = student[1]
    if city == "toronto" :
        print(student[0].capitalize())

Jamie
Vincent
Allen

In [55]:
# Do question 3 for all the students in Melbourne.
for student in data.values :
    city = student[1]
    if city == "melbourne" or city == "Melbourne":
        print(student[0].capitalize())

Todd
Georgia

In [201]:
# Print out all the students who are taking the same courses in the following format: 
# "Todd and Jamie are taking Physics. Vincent and Allen and Sarah are taking Chemistry."
import pandas as pd
import numpy as np

subjects = np.unique(data["subjects"].tolist())
subjects

for sub in subjects :
    cohort = []
    for student in data.values :
        subject = student[2]
        if subject == sub :
            isstudent = str(student[0])
            cohort.append(isstudent)
    if len(cohort) ==1 :
        for ind in cohort :
            string = str()
            string = string + ind.capitalize() + " is taking " + sub.capitalize()
            print(string)
    else :
        string = str()
        for ind in cohort :
            if ind != cohort[-1] :
                string = string + ind.capitalize() + " and "
            else :
                string = string + cohort[-1].capitalize() + " are taking " + sub.capitalize()
        print(string)

Michael is taking Biology
Vincent and Allen and Sarah are taking Chemistry
Rebecca is taking Maths
Todd and Jamie are taking Physics
Georgia is taking Stats